
body { 
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color: #56186e;
    padding: 20px 10px;
    height: 100px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color:red;
    color: black;
  }
  
  .header a.active {
    background-color: red;
    color:white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .topnav {
    
    background-color:black;
    overflow: hidden;
    margin-top: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} 
.topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;
margin-top: 5px;
width: auto;
height: auto;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
  }
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 
@media screen and (max-width: 600px) {
  .column {
    width: 100%;}}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .intro {
    border: 1px solid gray;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: 250px;
    background-color: #fadd7e;

  }
 
    .intro img {
      width: 150px;
      height: 50px;
      float: left;
    }
  
  .intro img {
    width: 300px;
    height: 200px;
    float: left;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

  [class*="col-2"] {
    float: left;
    padding: 15px;
    border: 1px solid grey;
    background-color: #fadd7e;
    margin-left: 100px;
    margin-right: 50px;
    height: 550px;
  }
  [class*="col-8"] {
    float: right;
    padding: 15px;
    border: 1px solid grey;
    background-color: #fadd7e;
    margin-right: 100px;
    height: 250px;}
   
    [class*="col-13"] {
        float: right;
        padding: 15px;
        border: 1px solid grey;
        background-color: #fadd7e;
        margin-top: 50px;
        margin-right: 100px;
        height: 250px;}

        [class*="col-15"] {
            float: left;
            padding: 15px;
            border: 1px solid grey;
            background-color: #fadd7e;
            margin-left: 100px;
            margin-right: 50px;
                height: 250px;
                margin-top: 50px;}

                [class*="col-16"] {
                    float: left;
                    padding: 15px;
                    border: 1px solid grey;
                    background-color: #fadd7e;
                    margin-top: 50px;
                    margin-right: 100px;
                        height: 250px;}
  .col-2 img{
    width: 220px;
    height: 150px;
    float: left;
  }
 
    
  
  
  .col-8 img{
    width: 300px;
    height: 200px;
    float: left;
  }
  .col-13 img{
    width: 300px;
    height: 200px;
    float: left;
  }
  .col-15 img{
    width: 500px;
    height: 200px;
    float: left;
  }
  .col-16 img{
    width: 200px;
    height: 125px;
    float: left;
  }
  .col-2 a{
    color: black;
    text-decoration: none; 
 }
 .col-2 a:hover {
     color: rgb(38, 0, 255);
     background-color: transparent;
     
   }

   .col-16 a{
    color: black;
    text-decoration: none; 
 }
 .col-16 a:hover {
     color: rgb(38, 0, 255);
     background-color: transparent;
     
   }

   .col-8 a{
    color: black;
    text-decoration: none; 
 }
 .col-8 a:hover {
     color: rgb(38, 0, 255);
     background-color: transparent;
     
   }
   .col-13 a{
    color: black;
    text-decoration: none; 
 }
 .col-13 a:hover {
     color: rgb(38, 0, 255);
     background-color: transparent;
     
   }
   .col-15 a{
    color: black;
    text-decoration: none; 
 }
 .col-15 a:hover {
     color: rgb(38, 0, 255);
     background-color: transparent;
     
   }
   .intro a{
    color: black;
    text-decoration: none; 
 }
 .intro a:hover {
     color: rgb(38, 0, 255);
     background-color: transparent;
     
   }
   [class*="col-19"] {
    float: left;
    padding: 15px;
    border: 1px solid grey;
    background-color: white;
    margin-left: 200px;
    margin-right: 0px;
    
    height: 200px;
  }
  
  [class*="col-17"] {
    float: left;
    padding: 15px;
    border: 1px solid grey;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    
    height: 200px;
  }
  [class*="col-18"] {
    float: left;
    padding: 15px;
    border: 1px solid grey;
    background-color:white;
    margin-left: 0px;
    margin-right: 200px;
    
    height: 200px;
  }
  .col-17 img{
    width: 100px;
    height: 100px;
    float: left;
  }
  .col-18 img{
    width: 100px;
    height: 100px;
    float: left;
  }
  .col-19 img{
    width: 100px;
    height: 100px;
    float: left;
  }
  .col-17 a{
    color: black;
    text-decoration: none; 
 }
 .col-17 a:hover {
     color: rgb(38, 0, 255);
     background-color: transparent;
 
 }

 .col-18 a{
  color: black;
  text-decoration: none; 
}
.col-18 a:hover {
   color: rgb(38, 0, 255);
   background-color: transparent;

}

.col-19 a{
  color: black;
  text-decoration: none; 
}
.col-19 a:hover {
   color: rgb(38, 0, 255);
   background-color: transparent;

}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .col-13 {width: 66.66%;}
  .col-17 {width: 16.66%;}
  .col-18{width: 16.66%;}
  .col-19{width: 16.66%;}
  .col-14 {width: 41.66%;}
  .col-15 {width: 66.66%;}
  .col-16 {width: 16.66%;}

  .footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:rgb(73, 71, 71);
    color: white;
    text-align: center;
    margin-top: 50px;
 }
social {margin:0;height:4000px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}